@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.formulario {
    display: flex;
    background-image: url(imagens/bg-repeat.jpg);
    background-size: contain;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.formulario .aviso {    
    width: 550px;
    color: #fff;
}

.formulario .aviso h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 40px;
}

.formulario .aviso p {
    font-size: 25px;
    font-weight: 300;
    width: 500px;
}

.informacoes {
    background-color: #fff;
    width: 440px;
    height: 600px;
    left: 380px;
    top: 22px;
}

.informacoes input {
    width: 301px;
    height: 35px;
    margin: 15px 22px 5px 22px;
    border-radius: 5px;   
}

.informacoes p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 21px;
    margin-top: 5px;
}

.informacoes button {
    background-color: #3ccc87;
    color: #fff;
    border-radius: 5px;
    width: 298px;
    height: 41px;
    border: none;
    margin: 22px 22px;
    cursor: pointer;
}

.informacoes textarea {
    margin-top: 15px;
    margin-left: 22px;
    border: 2px solid #000;
    border-radius: 5px;
    resize: none;
}
